---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> aoc-custom/components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}
        <div class="related-container">
            {{> components/products/tabs}}
        </div>
    </div>

    {{> components/products/schema}}

    <div class="dropdown-wrapper">
        <div class="ae-dropdown dropdown">
            <div class="ae-select">
                <span class="ae-select-content"></span>
                <i class="material-icons down-icon">keyboard_arrow_down</i>
            </div>
            <ul class="dropdown-menu ae-hide">
                <li class='selected'><a>Dr</a></li>
                <li><a>Mr</a></li>
                <li><a>Miss</a></li>
                <li><a>Mrs</a></li>
                <li><a>Ms</a></li>
            </ul>
        </div>
    </div>


{{/partial}}
{{> layout/base}}


<script>
$('div#tab-description p').each(function(index) {
    var brCount = $(this).find('br').length;
    if (brCount > 2) {
        $(this).addClass('convert-ul');
    }

    if(index==0){
        $(this).addClass('spec-caption');
    }
});
$('.convert-ul').each(function() {
    var ul = $('<ul></ul>');
    $(this).html().split('<br>').forEach(function(item) {
        ul.append('<li>' + item + '</li>');
    });
    $(this).replaceWith(ul);
});
</script>

<script>
if ($('#tab-specifications table').length && $('#tab-specifications ul').length) {
    var container = $('<div class="table-specification-content"></div>');
    container.append($('#tab-specifications table'));
    container.append($('#tab-specifications ul'));
    $('#tab-specifications').append(container);
}
if($('div[data-product-option-change] .form-field').length > 0){
    $('div[data-product-option-change] h2').show();
}
</script>
<script>
    $(document).ready(function(){
        $("div#customed-product-tabs .tabs").click(function(){
            $(this).toggleClass('list-open');
        });
    });
</script>
<script>
    $('#customed-product-tabs .tabs-contents #tab-description .tabitem').each(function(){
             if(!$(this).children('p').length){
                $('.productView_custom-tabs-content').hide();
             }else{}
     });
</script>
<script type="text/javascript">
    if($('#customField_text').children().length){
        $stockLabel = $("#customField_text #stock-label").text();
         $shipsLabel = $("#customField_text #ships-label").text();

        $(".ship-stock_container .in-stock-label p").text($stockLabel).addClass('cFText');
        $(".ship-stock_container .ships-label p").text($shipsLabel).addClass('cFText');
    }
</script>
