<div class="better-in-numbers-section">
    <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/better-in-numbers-imag.png?t=1682400912&_gl=1*19gsa5d*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjM5NDgwNC41NTUuMC4xNjgyMzk0ODA0LjYwLjAuMA.." alt="better in number section">
    <div class="content-section">
        <h2>Better in numbers.</h2>
        <p>Badge cards available in sets!<br> Ordering in bulk? Group discounts available.</p>
        <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/badge-cards/badge-card-sets/" target="_blank">SHOP BADGE CARD SETS</a>
    </div>
</div>
