<div class="page-builder-section">
    <div class="personalized-setup-section">
        <h2>Personalize your ID Setup</h2>
        <div class="content-section">
            <div class="box-section">
                <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/badge-cards/" target="_blank">
                    {{{region name="personalized-setup-section-img-1"}}}
                    {{{region name="personalized-setup-section-txt-1"}}}
                </a>
            </div>
            <div class="box-section">
                <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/badge-buddies/" target="_blank">
                    {{{region name="personalized-setup-section-img-2"}}}
                    {{{region name="personalized-setup-section-txt-2"}}}
                </a>
            </div>
            <div class="box-section">
                <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/badge-reels/" target="_blank">
                    {{{region name="personalized-setup-section-img-3"}}}
                    {{{region name="personalized-setup-section-txt-3"}}}
                </a>
            </div>
        </div>
    </div>

    <div class="shop-essentials-section">
        <h2>Shop Essentials</h2>
        <div class="content-section">
            <div class="box-section">
                <a href="">
                <div class="img-container">
                    {{{region name="shop-essentials-image-1"}}}
                </div>
                <span>{{{region name="shop-essentials-text-1"}}}</span> 
            </a>
            </div>
            <div class="box-section">
                <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/tools-of-the-trade/brain-booklets/" target="_blank">
                    <div class="img-container">
                        {{{region name="shop-essentials-image-2"}}}
                    </div>
                   <span>{{{region name="shop-essentials-text-2"}}}</span> 
                </a>
            </div>
            <div class="box-section">
                <a href="">
                    <div class="img-container">
                        {{{region name="shop-essentials-image-3"}}}</div>
                    <span> {{{region name="shop-essentials-text-3"}}}</span>
                </a>
            </div>
            <div class="box-section">
                <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/accessories/badge-holders/" target="_blank">
                   <div class="img-container">
                    {{{region name="shop-essentials-image-4"}}}
                    </div>
                    <span> {{{region name="shop-essentials-text-4"}}}</span></a>
                </div>
        </div>
    </div>
    <div class="shop-grid-container">
        <div class="grid-content">
            <div class="shop_tools_accessories">
                <div class="shop_tools"> 
                    <div class="text-content">
                        <h2>{{{region name="shop-tools-title"}}}</h2>
                         {{{region name="shop-tools-link-title"}}}
                    </div>
                    {{{region name="shop-tools-image"}}}
                </div>
                <div class="shop_accessories">
                    {{{region name="shop-accessories-image"}}}
                    <div class="text-content">
                        <h2>{{{region name="shop-accessories-title"}}}</h2>
                         {{{region name="shop-accessories-link-title"}}}
                    </div>
                </div>
            </div>
            <div class="customize_badge_buddy">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/badge-buddy-color.png?t=1682438880&_gl=1*tzb8yj*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQzODc0Ni41NjAuMS4xNjgyNDM4NzU2LjUwLjAuMA.." alt="">
                <div class="abs-content">
                    <h2>{{{region name="shop-badgebuddy-title"}}}</h2>
                    <a href="https://scrubs-and-stuff-llc.mybigcommerce.com/badge-buddies/custom-badge-buddies/" target="_blank">{{{region name="shop-badgebuddy-link"}}}</a>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="personalized-setup-section" style="display: none">
    <h2>Personalized your ID Setup</h2>
    <div class="content-section">
        <div class="box-section">
            <a href="">
               <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/shop-reference-badge-cards.png?t=1682402013&_gl=1*1wzl3ar*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjM5NDgwNC41NTUuMC4xNjgyMzk0ODA0LjYwLjAuMA.." alt="">
               <p>Shop Reference Badge Cards</p> 
            </a>
        </div>
        <div class="box-section">
            <a href="">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/shop-badge-buddies.png?t=1682402017&_gl=1*1wzl3ar*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjM5NDgwNC41NTUuMC4xNjgyMzk0ODA0LjYwLjAuMA.." alt="">
                <p>Shop Badge Buddies</p>
            </a>
        </div>
        <div class="box-section">
            <a href="">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/shop-badge-reels.png?t=1682402019&_gl=1*1wzl3ar*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjM5NDgwNC41NTUuMC4xNjgyMzk0ODA0LjYwLjAuMA.." alt="">
                <p>Shop Badge Reels</p>
            </a>
        </div>
    </div>
</div>
<div class="shop-essentials-section" style="display: none">
    <h2>Shop Essentials</h2>
    <div class="content-section">
        <div class="box-section">
            <a href="">
            <div class="img-container">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/led-pen-lights.png?t=1682445348&_gl=1*1esthzv*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQ0NTM2MS41NjEuMC4xNjgyNDQ1MzYxLjYwLjAuMA.." alt="">
            </div>
            <span>LED Pen Lights</span> 
        </a>
        </div>
        <div class="box-section">
            <a href="">
                <div class="img-container">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/brain-booklets.png?t=1682445345&_gl=1*1esthzv*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQ0NTM2MS41NjEuMC4xNjgyNDQ1MzYxLjYwLjAuMA.." alt=""></div>
               <span>Brain Booklets</span> 
            </a>
        </div>
        <div class="box-section">
            <a href="">
                <div class="img-container">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/diy-cards.png?t=1682445346&_gl=1*1esthzv*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQ0NTM2MS41NjEuMC4xNjgyNDQ1MzYxLjYwLjAuMA.." alt=""></div>
                <span>DIY Cards</span>
            </a>
        </div>
        <div class="box-section">
            <a href="">
               <div class="img-container">
                    <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/badge-holders.png?t=1682445344&_gl=1*1esthzv*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQ0NTM2MS41NjEuMC4xNjgyNDQ1MzYxLjYwLjAuMA.." alt="">
                </div>
                <span>Badge Holders</span></a>
            </div>
    </div>
</div>
<div class="shop-grid-container" style="display: none">
    <div class="grid-content">
        <div class="shop_tools_accessories">
            <div class="shop_tools"> 
                <div class="text-content">
                    <h2>Scissors, shears, booklets & more!</h2>
                    <a href="">SHOP TOOLS</a>
                </div>
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/scisccors-shears-booklets-more.png?t=1682438883&_gl=1*1vqkb0*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQzODc0Ni41NjAuMS4xNjgyNDM4NzU2LjUwLjAuMA.." alt="">
            </div>
            <div class="shop_accessories">
                <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/add-some-flare-scrubs.png?t=1682438875&_gl=1*tzb8yj*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQzODc0Ni41NjAuMS4xNjgyNDM4NzU2LjUwLjAuMA.." alt="">
                <div class="text-content">
                    <h2>Add some flare to your scrubs</h2>
                    <a href="">SHOP ACCESSORIES</a>
                </div>
            </div>
        </div>
        <div class="customize_badge_buddy">
            <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/badge-buddy-color.png?t=1682438880&_gl=1*tzb8yj*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjQzODc0Ni41NjAuMS4xNjgyNDM4NzU2LjUwLjAuMA.." alt="">
            <div class="abs-content">
                <h2>Your title. Your color. Your background.</h2>
                <a href="">CUSTOMIZE YOUR BADGE BUDDY</a>
            </div>
        </div>
    </div>
</div>

<div class="trending-bestsellers-section">
    {{#if products.featured}}
        {{> aoc-custom/components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
</div>


{{> aoc-custom/components/page/better-in-numbers-section }}
{{> aoc-custom/components/page/pocket-tips-section }}

<div class="practical-tools-section">
    <div class="pracical-tools-container">
        <img src="https://store-n4601wl9o4.mybigcommerce.com/content/header/header-fixed-logo.svg" alt="practical tools logo">
        <h2>Practical tools for the healthcare professional</h2>
        <p>Maecenas eget justo arcu. Aliquam quis volutpat magna, sit amet consequat<br> erat. Cras fermentum iaculis mi. Phasellus vestibulum nulla turpis.</p>
        <a href="" >Our Story</a>
    </div>
</div>
