<div class="pocket-tips-section">
    <div class="text-section">
        <span>POCKET TIPS:</span>
        <h2>Anatomy of a badge buddy</h2>
        <p>Horizontal vs. vertical? Oversized or standard? All the info<br> you need to order the components of your badge buddy.</p>
        <a href="">VIEW THE GUIDE</a>
    </div>
    <div class="img-section">
        <img src="https://cdn11.bigcommerce.com/s-n4601wl9o4/images/stencil/original/image-manager/anatomy-of-a-badge-buddy.png?t=1682400024&_gl=1*asa9xa*_ga*MTg3MDAxNzI4MC4xNjU4ODE4Mzk1*_ga_WS2VZYPC6G*MTY4MjM5NDgwNC41NTUuMC4xNjgyMzk0ODA0LjYwLjAuMA.." alt="anatomy of a badge buddy image">
    </div>
</div>
