<h3 class="footer-info-heading">Become a Scrub Pocket Insider</h3>
<p>Join our email list to learn about the latest product information and special offers.</p>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input font_placeholder"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder=" Your email address here ..."
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       required
                >
                <input class="button button--primary form-prefixPostfix-button--postfix"
                       type="submit"
                       value="SIGN ME UP"
                >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
